<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ybigh demo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="libs/boostrap4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<style>

			body{
				/*background-color: #b54d4d;*/
        		margin: 0px;
        		height: 100%;
			}

		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <% var dt = data.length; %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu" class="navbar-nav">
                <% for(var i=0; i<dt; i++) { %>
                    <li class="nav-item">
                        <a class="nav-link" href='/<%= data[i].link %>'>
                              <%= data[i].name %>
                          </a>
                    </li>
              <% } %>
          </ul>
      </div>
  </nav>
		<div id="welcome">

			<h4>*ABOUT STAGE 1</h4>
			Each or any of the <i>Terms, Concept or Specific Objects</i> [words] presented in Stage 1 may invoke personal feelings, spark a particular philosophical interest, connect with you on spiritual level, all three or none at all. Based on your understanding of the words, it’s up to you to reflect on your life’s experience and make selections using our custom graphic interface. (Don't feel you have to select every category for every word)<a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="UI Example"> See Example</a>
			<br /><br />
			<img src="img/s1Img.jpg" style="float:left; margin:0 20px 15px 0;"/>
			<div>
				<strong>Select up to four categories for any given word</strong><br />
				<ul class="about">
					<li>Man's View of Himself (Himself/Herself)</li>
					<li>Man's Connections with Other than Himself</li>
					<li>Man's View of the World</li>
					<li>Man's Physical Activities</li>
				</ul>
				<strong>The word "Man" means the <i>universal man</i> of which you are an example. <br />As such, you may consider:</strong><br />
            	<ul class="about">
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Personalize">Personalizing some or all words to yourself</a></li>
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Others Exclusively">Thinking of others exclusively</a></li>
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Yourself and Others">Thinking of yourself and others together</a></li>
            	</ul>
			<strong><a style="font-weight:700;color:black;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Opinion">Opinion/Evaluation</a></strong>
			<ul class="about">
        <li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Foundation">Foundation</a> -- Existence/Essence | Substance | Accident</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Spiritual">Spiritual</a> -- Not composed of parts | will not deteriorate</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material">Material</a> -- Composed of parts | can deteriorate</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material Spiritual Converging">Material & Spiritual Converging</a> -- unifying so to become more than the individual parts.</li>
			</ul>
			
			</div><br />
			
			<div id="howto-msg">Like anything else, using Ybigh will make you better at using Ybigh. While it may feel awkward at first, you'll get the hang of it. Continue on to<a href="https://ybigh.herokuapp.com/n-stage1"> Stage 1</a></div>
		 	
		</div>

  	<!-- definitions Modal -->
  <div class="modal fade" id="definition" role="dialog">
    <div class="modal-dialog modal-lg"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">

          
        </div>
        <div class="modal-footer">
          <div class="back"></div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <script type="text/javascript">
          function spiritual(p){ 
            var html;
            if(p === "other"){
                html = "<a style=\"font-weight:700;\" onclick=\"spiritual('Spiritual')\" href=\"#\">Back</a>";
            }else{
                html = "<a style=\"font-weight:700;\" onclick=\"spiritual('Material_Spiritual_Converging')\" href=\"#\">Back</a>";
            }
              var gcontent = content[p];
              var title = p.replace(/_/g, " ");
              var modal = $("#definition");
              modal.find('.modal-title').text(title);
              modal.find('.back').empty();
              $('.modal-body').empty();
              modal.find('.modal-body').append(gcontent);
              if(p === "Glove_Converging" || p === "Chessplayer_Converging"){
                  modal.find('.back').append(html);
              }
            }
          </script>
    </div>
  </div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script type="text/javascript" src="libs/boostrap4/js/bootstrap.min.js"></script>

  	<script type="text/javascript">

  	let content = {
  		Material_Spiritual_Converging: "Once you select a word, Stage 1 gives you a chance to weigh your experiences with relation to the word in each or any of the <a style=\"font-weight:700;\" href=\"#\" onclick=\"spiritual('Four_Categories')\" data-target=\"#definition\">four categories</a>.<br /><br />You might feel that a word represents just a material reality; in that case you would evaluate it as 'purely material' or somewhere in that area based on the strength of your belief.  You might feel a word represents something spiritual, so you should evaluate it as 'purely spiritual' or, again, somewhere in that area based on your belief.<br /><br />When you evaluate a word in Stage 1, you give it meaning and make it into what Ybigh calls a symbol.<br /><br />A symbol can sometimes be part of a terrible or a wonderful experience, or anywhere in between for you or others. This experience lets you give the symbol special meaning, and what we of Ybigh say is: 'material/spiritual converging'.       Converging means a unity is forming with the word and its connections.  'Material/spiritual converging' means that your knowledge of the word and your experience with it have unified and are becoming one.<br /><br />Knowledge starts with the material world (your five senses). Human consciousness—Including your <a style=\"font-weight:700;\" href=\"#\" onclick=\"spiritual('Awareness')\" data-target=\"#definition\">awareness</a> and experience—has a spiritual component.  Most things have a material as well as a spiritual component. How much of either? We leave it for you to decide.<br /><br /><strong>Material/Spiritual Converging Examples</strong><br /><br /><strong>Music</strong><br />Music can be 'material/spiritual converging'. We can have great insight or profound feelings when listening to, or if you can, performing 'music'.<br /><br /><strong>Urin</strong><br />Any object can be a 'spiritual/material converging'. Even your own urine. Say you were stranded out at sea or in a desert and all you had to drink was your own urine. It saved your life.  Now 'urine' has a special meaning for you.<br /><br /><strong>Knife</strong><br />If you get cut with a knife then a 'knife' might leave a lasting impression on you, having marked your experience as well as your material body.<br /><br /><strong>Person/Athlete</strong><br />You might notice 'Material/spiritual converging' in yourself or even other people as well. Perhaps when watching a professional basketball game, you notice how one player is out-scoring every other player.<br /><br />How you decide to evaluate words, along with your knowledge, <a style=\"font-weight:700;\" href=\"#\" onclick=\"spiritual('Awareness')\" data-target=\"#definition\">awareness</a> and experiences, is up to you.",
  		Spiritual: "Spiritual substance means it has no parts and cannot be separated into parts – it\’s unitary. It can\’t be sensed or detected, but it can be thought of. While most things have both material and spiritual parts, here are examples of purely spiritual things:<br /><strong>Reason</strong>, <strong>Happiness</strong>, <strong>Justice</strong>, <strong>Will</strong>, <strong>Evil</strong><br /><br />Consider <strong>Justice</strong> in itself. Not acts or circumstances that are just or lack justice, only the abstract notion of Justice. You can't break off a piece of Justice and make it stand on its own, though you may apply it or remove it from some things to make them just or unjust.<br /><br /><strong>NOTE:</strong> Even though spiritual things can be reasoned about, it\'s often very hard to do so. Don't get too hung up wondering if a word is spiritual or what is spiritual about it. You can always go back or update your evaluations later if you change your mind.",
        Material: "Material substance is defined as something that has or can be <strong>composed of parts</strong>, each of which is different from the other. Material things can therefore degrade or be perfected. Cars rust, toys break, children are born, grow up, grow old, and so on.<br /><br /><strong>Bacteria</strong>, <strong>baseballs</strong> and <strong>boomerangs</strong> are material things -- they’re all around us.",
        Foundation: "To begin to explain how this works, we’ll start with the idea that everything has a foundation. The foundation is the <strong>existence</strong> and <strong>essence</strong> of everything -- its being. <br /><br />Next comes the question, what sort of being is it?  If it\’s a <strong>substance</strong> of some sort, it is either a spiritual or material substance or it’s a combination of the two. It could also be a modification of the substance, and that\’s called an <strong>\‘accident\’</strong>. <br /><strong>Accident</strong> can be the quality of something--color, shape, form, etc.",
        Opinion: "While we may not acknowledge it or even realize it, things have layers of meaning; deep meaning in many cases. And by presenting you with an opportunity to express how you feel about these things, will hopefully uncover these dormant layers of meaning within you. <i>You’re more than what your shopping cart says about you</i>.",
        UI_Example: "<img src='img/s1Img1.jpg' style='display:block;width:50%;margin:0 auto 0 auto;'/>",
        Personalize: "For a given word, mentally substitute <strong>My</strong> for <strong>Man</strong> when consideing yourself only.<br /><br /><ul>Example<br /><li><strong>My</strong> View of Myself</li>"+
                     "<li><strong>My</strong> Connections with Other than myself (whether humans or things)</li>"+
                     "<li><strong>My</strong> View of the World</li>"+
                     "<li><strong>My</strong> Physical Activities</li>"+
                     "</ul>",
        Others_Exclusively: "For a given word, mentally substitute <strong>Their, His/Her</strong> for <strong>Man</strong> when considering other people (individuals, other groups, or everyone else) but not yourself.<br /><br /><ul>Example<br /><li><strong>Their</strong> View of Themselves</li>"+
                     "<li><strong>Their</strong> Connections with Other than themselves (whether humans or things)</li>"+
                     "<li><strong>Their</strong> View of the World</li>"+
                     "<li><strong>Their</strong> Physical Activities</li>"+
                     "</ul>",
        Yourself_and_Others: "For a given word, mentally substitute <strong>Our</strong> for <strong>Man</strong> when considering all of mankind or a group (gender, ethnic, etc) you belong to.<br /><br /><ul>Example<br /><li><strong>Our</strong> View of Ourselvse</li>"+
                     "<li><strong>Our</strong> Connections with Other than ourselves (whether humans or things)</li>"+
                     "<li><strong>Our</strong> View of the World</li>"+
                     "<li><strong>Our</strong> Physical Activities</li>"+
                     "</ul>",
        Glove_Converging:"Let\'s break down a possible scenario using a hypothetical example. <br />."+
          "<ol><li>I make the association between the material object <strong>Glove</strong> and the OJ trial then click the word <strong>Glove</strong> in the Ybigh UI</li>"+
          "<li>Considering the different categories, I decide on:<i> Man's View of the World</i></strong> and <i>Man's View of Himself</i></li>"+
            "<li>For<i> Man's View of Himself</i>, I assume OJ himself must have known how important the glove evidence was to his legal case.</strong></li>"+
            "<li>For<i> Man's View of the World</i>, I remembered how polerized the world had become when the glove ultimately didn't fit his hand. \"if it doesn't fit, you must aquit\", said attorney Johnnie Cockran.</strong></li>"+
            "<li>Lastly, I click & drag my mouse towards converging based on the strength of these ideas</li>"+
            "</ol>"+
            "Once <strong>Glove</strong> becomes a symbol, you'll get the opportunity to add more information in stage's II and III.",
        Chessplayer_Converging:"A <strong>Chessplayer</strong> is a person. Any living, spiritual being that possesses <strong>intellect</strong> and <strong>will</strong> is what we call a \'person\' and has what we call 'personality'. <strong>Personality</strong> is composed of spiritual parts (such as <strong>will</strong> and <strong>intellect</strong>) as well as material parts, such as our <strong>5 senses</strong>. The fact that people can do both spiritual and material operations, "+"shows that people our \'spiritual-material converging\'. Some people converge more and some less. <br /><br />The categories I might select for my amazing chess match are: <i>Man's View of Himself</i> and <i>Man's Connection with other than Himself</i>.<br /><br />Why?<br /><br />In this scenario, I'm not only considering my awesome chess playing but how I now view myself in connection with the greater chess community. If the chess match was highly publicized and on television, I might have also included <i>Man's View of the World</i> as well. The last thing left to do is decide how much convergance took place in each category and make selections.<br /><br />Once <strong>Chessplayer</strong> (or perhaps the Ybigh word would be \"gamer\", \"chess\", or even \"player\") becomes a symbol, you'll get the opportunity to add more information in stage's II and III."
  	}
  		$('#definition').on('show.bs.modal', function (event) {
  			var button = $(event.relatedTarget); // Button that triggered the modal
  			var recipient = button.data('whatever'); // Extract info from data-* attributes
  			var key = recipient.replace(/ /g, "_");
  			var gcontent = content[key];
  			var modal = $(this);
  			modal.find('.modal-title').text(recipient);
  			$('.modal-body').empty();
  			modal.find('.modal-body').append(gcontent);
		})
    $('#definition').on('hidden.bs.modal', function (event) {
        var modal = $(event.currentTarget);
        modal.find('.back').empty();
    })
  	</script>
	</body>
</html>
