<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ybigh demo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="libs/boostrap4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<style>

			body{
				/*background-color: #b54d4d;*/
        		margin: 0px;
        		height: 100%;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <% var dt = data.length; %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu" class="navbar-nav">
                <% for(var i=0; i<dt; i++) { %>
                    <li class="nav-item">
                        <a class="nav-link" href='/<%= data[i].link %>'>
                              <%= data[i].name %>
                          </a>
                    </li>
              <% } %>
          </ul>
      </div>
  </nav>
		<div id="welcome">

			<h4>*STAGE 1</h4>
			Each or any of the <i>Terms, Concept or Specific Objects</i>[words] presented in Stage 1 may invoke personal feelings, spark a particular philosophical interest, connect with you on spiritual level, all three or none at all. Based on your understanding of the words, it’s up to you to reflect on your life’s experience and select the category, or categories, you feel best fit it.<br /><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="UI Example">UI Example</a>
			<br /><br />
			<img src="img/s1Img.jpg" style="float:left; margin:0 20px 15px 0;"/>
			<div>
				<strong>Select up to four categories for any given word</strong><br />
				<ul class="about">
					<li>Man's View of Himself (Himself/Herself)</li>
					<li>Man's Connections with Other than Himself</li>
					<li>Man's View of the World</li>
					<li>Man's Physical Activities</li>
				</ul>
				<strong>The word "Man" means the <i>universal man</i> of which you are an example. <br />As such, you may:</strong><br />
            	<ul class="about">
					<li>Personalize any or all words to yourself</li>
					<li>Think of others exclusively</li>
					<li>Think of yourself and others together</li>
            	</ul>
				<strong>Triangles selection space</strong><br />
			<ul class="about">
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Spiritual">Spiritual</a> -- incorruptible, intangible, genuine, and essential</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material">Material</a> -- can be physical, intangible or intellectual, is composed of non-essential parts, and can be degraded</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material Spiritual Converging">Spiritual & Material Converging</a> -- unified in a way where, together, it's more than its seperate parts.</li>
				<!--Hypothetical 4: You eat <strong>bread</strong> all the time but never gave it much thought. One day you read how the invention of <strong>bread</strong> was quintessential in man's ability to thrive today.-->
			</ul>
			<!-- is like steal reinforcing concrete. The steal gives flexibility to the concrete, and the concrete gives strength to the steal, together it's more than either of the parts. In this way,-->
			</div><br />
			
			<div id="howto-msg">Continue on to<a href="https://ybigh.herokuapp.com/stage1"> Stage 1</a></div>
		 	
		</div>

  	<!-- definitions Modal -->
  <div class="modal fade" id="definition" role="dialog">
    <div class="modal-dialog"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script type="text/javascript" src="libs/boostrap4/js/bootstrap.min.js"></script>

  	<script type="text/javascript">

  	let content = {
  		Material_Spiritual_Converging: "The spiritual realm adds depth and meaning to the material object while the "+ "material allows expression of the spiritual realm by being its conduit or physical embodiment. A material-spiritual convergence is greater than its individual separate parts.<br /> Like steel reinforcing "+ "concrete. The steel gives flexibility to the concrete and the concrete gives strength to the steel.<br /><br /><strong>Examples of Spiritual & Material Converging</strong>: "+
        "<br />Hypothetical 1: You're stranded out at sea and all you have to drink is your own<strong> Urine</strong>. It saves your life."+ 
        "<br />Hypothetical 2: You hear about an out-of-control <strong>truck</strong> killing 5 people on a busy <strong>sidewalk</strong>."+
        "<br />Hypothetical 3: The <strong>county fair</strong> always held a special place in your heart",
  		Spiritual: "<ul>"+
          	"<li><strong>incorruptible</strong>: beyond reproach or needs no justification -- holy text, animal instict, or Satan itself</li>"+
              "<li><strong>intangible</strong>: can't be held or touched. Has no physical presence</li>"+
          	"<li><strong>genuine</strong>: corroborates with what the mind knows it should be and what the thing actually is</li>"+ 
          	"<li><strong>essential</strong>: unified in a way where removing even one part makes it cease to exist -- the essence of a fire is its flame</li><br />Think of the spritual as the perfectly, pure essense of something"+
           "</ul>",
        Material: "<ul>"+
          	"<li><strong>can be physical, intangible or intellectual</strong>: has a form and exists in space and/or time</li>"+
          	"<li><strong>composed of non-essential parts</strong>: remove its parts and it still exists as that thing -- While some parts may be more crucial than others, removing, for example, one act of a play doesn't make it not a play</li>"+
          	"<li><strong>degradable</strong>: can be ruined or destroyed by a person or over time -- steel on a car eventually corrodes, a Xerox machine can be crushed using a bat, and birthdays become a drag as you grow older</li>"+
           "</ul><ul><li><strong>Sting theory</strong> -- is currently only a concept but that has many non-essential or interchangeable parts and is extremely fragil</li><li><strong>A play</strong> -- while you can't hold or touch a play, it has many non-essential, often physical, parts - like people and props.</li><li><strong>A baseball</strong> is a physical object with parts and all the rest</li></ul>",
        UI_Example: "<img src='img/s1Img1.jpg' style='margin:10px;'/>"

  	}
  		$('#definition').on('show.bs.modal', function (event) {
  			var button = $(event.relatedTarget); // Button that triggered the modal
  			var recipient = button.data('whatever'); // Extract info from data-* attributes
  			var key = recipient.replace(/ /g, "_");
  			var gcontent = content[key];
  			var modal = $(this);
  			modal.find('.modal-title').text(recipient);
  			$('.modal-body').empty();
  			modal.find('.modal-body').append(gcontent);
		})

  	</script>
	</body>
</html>
