<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ybigh demo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="libs/boostrap4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<style>

			body{
				/*background-color: #b54d4d;*/
        		margin: 0px;
        		height: 100%;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <% var dt = data.length; %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu" class="navbar-nav">
                <% for(var i=0; i<dt; i++) { %>
                    <li class="nav-item">
                        <a class="nav-link" href='/<%= data[i].link %>'>
                              <%= data[i].name %>
                          </a>
                    </li>
              <% } %>
          </ul>
      </div>
  </nav>
		<div id="welcome">

			<h4>*ABOUT STAGE 1</h4>
			Each or any of the <i>Terms, Concept or Specific Objects</i> [words] presented in Stage 1 may invoke personal feelings, spark a particular philosophical interest, connect with you on spiritual level, all three or none at all. Based on your understanding of the words, it’s up to you to reflect on your life’s experience and make selections using our custom graphic interface. (Don't feel you have to select every category for every word)<a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="UI Example"> See Example</a>
			<br /><br />
			<img src="img/s1Img.jpg" style="float:left; margin:0 20px 15px 0;"/>
			<div>
				<strong>Select up to four categories for any given word</strong><br />
				<ul class="about">
					<li>Man's View of Himself (Himself/Herself)</li>
					<li>Man's Connections with Other than Himself</li>
					<li>Man's View of the World</li>
					<li>Man's Physical Activities</li>
				</ul>
				<strong>The word "Man" means the <i>universal man</i> of which you are an example. <br />As such, you may consider:</strong><br />
            	<ul class="about">
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Personalize">Personalizing some or all words to yourself</a></li>
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Others Exclusively">Thinking of others exclusively</a></li>
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Yourself and Others">Thinking of yourself and others together</a></li>
            	</ul>
				<strong>Opinion</strong> (take as a roadmap or with a grain of salt)<br />
			<ul class="about">
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Spiritual">Spiritual</a> -- ideal | intangible | genuine | essential</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material">Material</a> -- can be sensed or detected | is composed of parts | can be degraded</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material Spiritual Converging">Material & Spiritual Converging</a> -- unified in a way where, together, it's more than its seperate parts.</li>
				<!--Hypothetical 4: You eat <strong>bread</strong> all the time but never gave it much thought. One day you read how the invention of <strong>bread</strong> was quintessential in man's ability to thrive today.-->
			</ul>
			
			</div><br />
			
			<div id="howto-msg">Continue on to<a href="https://ybigh.herokuapp.com/n-stage1"> Stage 1</a></div>
		 	
		</div>

  	<!-- definitions Modal -->
  <div class="modal fade" id="definition" role="dialog">
    <div class="modal-dialog"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">

          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <script type="text/javascript">
          function spiritual(){
      
              var gcontent = content["Essential"];
              var modal = $("#definition");
              modal.find('.modal-title').text("Spiritual Essential");
              $('.modal-body').empty();
              modal.find('.modal-body').append(gcontent);
            }
          </script>
    </div>
  </div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script type="text/javascript" src="libs/boostrap4/js/bootstrap.min.js"></script>

  	<script type="text/javascript">

  	let content = {
  		Material_Spiritual_Converging: "The spiritual realm adds depth and meaning to the material object while the "+ "material object allows expression of the spiritual realm by being its conduit or physical embodiment. A material-spiritual convergence is greater than its individual separate parts. <strong>(1)</strong> Like steel reinforcing "+ "concrete. The steel gives flexibility to the concrete and the concrete gives strength to the steel.<br /><br /><strong>Practically speaking:</strong> Material-Spiritual Converging is when ordinary (or extraordinary) objects and things suddenly have, or always have had, additional meaning to them<br /><br /><strong>Examples of Spiritual & Material Converging</strong>: "+
        "<br /><strong>1)</strong> You're stranded out at sea and all you have to drink is your own<strong> Urine</strong>. It saves your life."+ 
        "<br /><strong>2)</strong> You hear about an out-of-control <strong>truck</strong> killing 5 people on a busy <strong>sidewalk</strong>."+
        "<br /><strong>3)</strong> The <strong>local fair</strong> always held a special place in the hearts of the people in your town.",
  		Spiritual: "<ul>"+
          	"<li><strong>ideal</strong>: satisfying a conception of what is perfect; most suitable. <strong>(1)</strong> The ideal circle has perfect symmetry at every dimension. <strong>(2)</strong> While one could argue that love exist in many forms, 'ideal' love has caring, respect, and understanding.</li>"+
              "<li><strong>intangible</strong>: can't be held or touched. Has no physical presence <strong>(1)</strong> Some spiritual objects, Evil, Love, etc., are only expressed in the material world through intent of sentient beings. <strong>(2)</strong> While other spiritual objects requires more knowldge than is attainable to manifest them materially. What's the precise volume of water needed before a puddle becomes a pond, as an example?</li>"+
          	"<li><strong>genuine</strong>: corroborates with what the mind knows it should be and what the thing actually is <strong>(1)</strong> Actual gold vs. fools gold</li>"+ 
          	"<li><strong>essential</strong>: the feature is a necessary part of [it], and [it] alone. Will cease to exist in any other form <strong>(1)</strong> Consider the feature(s) that constitutes a car, and only a car.</li>" +
           "</ul>",
        Essential:"<strong>essential</strong>: the feature is a necessary part of [it], and [it] alone. Will cease to exist in any other form <strong>(1)</strong> Consider feature(s) that constitutes a car, and only a car.",
        Material: "<ul>"+
            "<li><strong>can be sensed or detected</strong>: sensed using one or all of the four senses or detected using instruments (microscopes, clocks, etc). <strong>(1)</strong> Bacteria, birthdays and Broadway plays are some examples</li>"+
          	"<li><strong>composed of parts</strong>: objects are composed of essential and non-essential parts. While the non-essential parts are found in the material world, the essential part(s) can [only] be found in the spiritual realm. <strong>(1)</strong> See <a style=\"font-weight:700;\" onclick=\"spiritual()\" href=\"#\">Spiritual Essential</a></li>"+
          	"<li><strong>degradable</strong>: can be ruined or destroyed by a person or over time <strong>(1)</strong> Steel on a car eventually corrodes <strong>(2)</strong> a copy machine can be crushed using a bat <strong>(3)</strong> your 25th birthday wasn't as exciting as your 24th</li>"+
            "</ul>",
        UI_Example: "<img src='img/s1Img1.jpg' style='margin:10px;'/>",
        Personalize: "For a given word, mentally insert <strong>My</strong> when consideing yourself only.<br /><br /><ul>Example<br /><li><strong>My</strong> View of Myself</li>"+
                     "<li style='color:blue;'><strong>My</strong> Connections with Other than Human (implied)</li>"+
                     "<li><strong>My</strong> View of the World</li>"+
                     "<li><strong>My</strong> Physical Activities</li>"+
                     "</ul>",
        Others_Exclusively: "For a given word, mentally insert <strong>Their, His/Her</strong> when considering other people (individuals, other groups, or everyone else) but not yourself.<br /><br /><ul>Example<br /><li><strong>Their</strong> View of Themselves</li>"+
                     "<li style='color:blue;'><strong>Their</strong> Connections with Other than Human (implied)</li>"+
                     "<li><strong>Their</strong> View of the World</li>"+
                     "<li><strong>Their</strong> Physical Activities</li>"+
                     "</ul>",
        Yourself_and_Others: "For a given word, mentally insert <strong>Our</strong> when considering all of mankind or a group (gender, ethnic, etc) you belong to.<br /><br /><ul>Example<br /><li><strong>Our</strong> View of Ourselvse</li>"+
                     "<li style='color:blue;'><strong>Our</strong> Connections with Other than Human (implied)</li>"+
                     "<li><strong>Our</strong> View of the World</li>"+
                     "<li><strong>Our</strong> Physical Activities</li>"+
                     "</ul>" 
  	}
  		$('#definition').on('show.bs.modal', function (event) {
  			var button = $(event.relatedTarget); // Button that triggered the modal
  			var recipient = button.data('whatever'); // Extract info from data-* attributes
  			var key = recipient.replace(/ /g, "_");
  			var gcontent = content[key];
  			var modal = $(this);
  			modal.find('.modal-title').text(recipient);
  			$('.modal-body').empty();
  			modal.find('.modal-body').append(gcontent);
		})

  	</script>
	</body>
</html>
