<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ybigh demo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="libs/boostrap4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<style>

			body{
				/*background-color: #b54d4d;*/
        		margin: 0px;
        		height: 100%;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <% var dt = data.length; %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu" class="navbar-nav">
                <% for(var i=0; i<dt; i++) { %>
                    <li class="nav-item">
                        <a class="nav-link" href='/<%= data[i].link %>'>
                              <%= data[i].name %>
                          </a>
                    </li>
              <% } %>
          </ul>
      </div>
  </nav>
		<div id="welcome">

			<h4>*ABOUT STAGE 1</h4>
			Each or any of the <i>Terms, Concept or Specific Objects</i> [words] presented in Stage 1 may invoke personal feelings, spark a particular philosophical interest, connect with you on spiritual level, all three or none at all. Based on your understanding of the words, it’s up to you to reflect on your life’s experience and make selections using our custom graphic interface. (Don't feel you have to select every category for every word)<a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="UI Example"> See Example</a>
			<br /><br />
			<img src="img/s1Img.jpg" style="float:left; margin:0 20px 15px 0;"/>
			<div>
				<strong>Select up to four categories for any given word</strong><br />
				<ul class="about">
					<li>Man's View of Himself (Himself/Herself)</li>
					<li>Man's Connections with Other than Himself</li>
					<li>Man's View of the World</li>
					<li>Man's Physical Activities</li>
				</ul>
				<strong>The word "Man" means the <i>universal man</i> of which you are an example. <br />As such, you may consider:</strong><br />
            	<ul class="about">
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Personalize">Personalizing some or all words to yourself</a></li>
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Others Exclusively">Thinking of others exclusively</a></li>
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Yourself and Others">Thinking of yourself and others together</a></li>
            	</ul>
				<strong>Opinion</strong> (take as a guide or with a grain of salt)<br />
			<ul class="about">
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Spiritual">Spiritual</a> -- stand on its own | Admits of no composition | will not deteriorate</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material">Material</a> -- stand on its own | Admits of composition | can deteriorate</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material Spiritual Converging">Material & Spiritual Converging</a> -- unify in a way where, together, it's more than when seperate.</li>
				<!--Hypothetical 4: You eat <strong>bread</strong> all the time but never gave it much thought. One day you read how the invention of <strong>bread</strong> was quintessential in man's ability to thrive today.-->
			</ul>
			
			</div><br />
			
			<div id="howto-msg">Continue on to<a href="https://ybigh.herokuapp.com/n-stage1"> Stage 1</a></div>
		 	
		</div>

  	<!-- definitions Modal -->
  <div class="modal fade" id="definition" role="dialog">
    <div class="modal-dialog"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">

          
        </div>
        <div class="modal-footer">
          <div class="back"></div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <script type="text/javascript">
          function spiritual(p){ 
            var html;
            if(p === "Material_Spiritual_Converging"){
                html = "<a style=\"font-weight:700;\" onclick=\"spiritual('Spiritual')\" href=\"#\">Back</a>";
            }else{
                html = "<a style=\"font-weight:700;\" onclick=\"spiritual('Material_Spiritual_Converging')\" href=\"#\">Back</a>";
            }
              var gcontent = content[p];
              var title = p.replace(/_/g, " ");
              var modal = $("#definition");
              modal.find('.modal-title').text(title);
              modal.find('.back').empty();
              $('.modal-body').empty();
              modal.find('.modal-body').append(gcontent);
              if(p === "Spiritual" || p === "Material_Spiritual_Converging"){
                  modal.find('.back').append(html);
              }
            }
          </script>
    </div>
  </div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script type="text/javascript" src="libs/boostrap4/js/bootstrap.min.js"></script>

  	<script type="text/javascript">

  	let content = {
  		Material_Spiritual_Converging: "Material and spiritual substances can be superposed. This means a thing can be a mixture of material and spiritual substance such that it has properties of both at the same time and in the same respect or context. An example of this (See <a style=\"font-weight:700;\" onclick=\"spiritual('Spiritual')\" href=\"#\">Spiritual</a>) is a human being.  A human has a material body and a spiritual soul.  These parts are not the same and can be separated one from the other, but while they are unified, the human being demonstrates both material and spiritual actions, characteristics and operations. Material objects other than human beings can have spiritual qualities as well. But it takes a spiritual being like a human to see them converging.<br /><br /><strong>Spiritual & Material Converging</strong>:<br /><br />"+
        "<ol class='converging'><li> You're stranded out at sea and all you have to drink is your own<strong> Urine</strong>. It saves your life.</li>"+ 
        "<li>You hear about an out-of-control <strong>truck</strong> killing 5 people on a busy <strong>sidewalk</strong>.</li>"+
        "<li><strong>You</strong> do the right thing when <strong>you</strong> could have done wrong. Or, <strong>you</strong> do the wrong thing when <strong>you</strong> could have done right.</li>"+
        "<li>You wear a <strong>crucifix</strong> around your neck; you wear a <strong>pentagram</strong> around your neck.</li></ol>",
  		Spiritual: "<ul>"+
          	"<li><strong>Spiritual Substance</strong>: Is something that \"stands on its own\". A spiritual substance can exist as a separate and distinct object from a material substance. Such a thing, a \"substance\", is said to \"inhere in itself\".</li>"+
            "<li><strong>Cannot Deteriorate</strong>: But can be annihilated by a spiritual being</li>"+
            "<li><strong>Admits of no Composition</strong>: a spiritual substance is unitary, it cannot be broken into parts and is always, fully and completely itself.</li>"+
            "<li><strong>Accidents:</strong> An \"accident\" requires another substance in which it must exist or \"have\" its being. A <i>quality</i> is an example of an Accident. Justice might be a spiritual substance and one quality of it could be a measurable amount of fairness. Pure Spiritual substances have fully realized their accidental potential and are perfect. Human beings, however, are partly spiritual and partly material thus can take on more spiritual qualities. (See <a style=\"font-weight:700;\" onclick=\"spiritual('Material_Spiritual_Converging')\" href=\"#\">Material Spiritual Converging</a>)</li>"+
           "</ul>",
        Material: "<ul>"+
            "<li><strong>Material substances</strong>: is something that \"stand on its own\". We have motion, but it is always a body that is moving. We never have motion without a something that is doing the moving. Such a thing, a \"substance\", is said to \"inhere in itself\".</li>"+
          	"<li><strong>Admits of Composition</strong>: this means it is either composed of parts or can be separated into parts, each of which is distinct and different from the other.</li>"+
          	"<li><strong>Can deteriorate</strong>: if its parts separate or disconnect, the substance degrades, it loses integrity, it becomes less, more deficient, less \"one\", less unified, less integral, less itself. It can be annihilated</li>"+
             "<li><strong>Accidents:</strong> An \"accident\" requires another substance in which it must exist or \"have\" its being. A quality is an example of an \"accident\". The color blue is a quality and cannot exist alone. You can have blue paint or blue light but not simply \"blue\". Substances can take on more or different qualities. Think of the clear, thick substance before pigment is added and it becomes red paint. Or think of the pigment itself that is made from genetically predisposed plant matter of a particular color.</li>"+
            "</ul>",
        UI_Example: "<img src='img/s1Img1.jpg' style='margin:10px;'/>",
        Personalize: "For a given word, mentally insert <strong>My</strong> when consideing yourself only.<br /><br /><ul>Example<br /><li><strong>My</strong> View of Myself</li>"+
                     "<li style='color:blue;'><strong>My</strong> Connections with Other than Human (implied)</li>"+
                     "<li><strong>My</strong> View of the World</li>"+
                     "<li><strong>My</strong> Physical Activities</li>"+
                     "</ul>",
        Others_Exclusively: "For a given word, mentally insert <strong>Their, His/Her</strong> when considering other people (individuals, other groups, or everyone else) but not yourself.<br /><br /><ul>Example<br /><li><strong>Their</strong> View of Themselves</li>"+
                     "<li style='color:blue;'><strong>Their</strong> Connections with Other than Human (implied)</li>"+
                     "<li><strong>Their</strong> View of the World</li>"+
                     "<li><strong>Their</strong> Physical Activities</li>"+
                     "</ul>",
        Yourself_and_Others: "For a given word, mentally insert <strong>Our</strong> when considering all of mankind or a group (gender, ethnic, etc) you belong to.<br /><br /><ul>Example<br /><li><strong>Our</strong> View of Ourselvse</li>"+
                     "<li style='color:blue;'><strong>Our</strong> Connections with Other than Human (implied)</li>"+
                     "<li><strong>Our</strong> View of the World</li>"+
                     "<li><strong>Our</strong> Physical Activities</li>"+
                     "</ul>" 
  	}
  		$('#definition').on('show.bs.modal', function (event) {
  			var button = $(event.relatedTarget); // Button that triggered the modal
  			var recipient = button.data('whatever'); // Extract info from data-* attributes
  			var key = recipient.replace(/ /g, "_");
  			var gcontent = content[key];
  			var modal = $(this);
  			modal.find('.modal-title').text(recipient);
  			$('.modal-body').empty();
  			modal.find('.modal-body').append(gcontent);
		})
    $('#definition').on('hidden.bs.modal', function (event) {
        var modal = $(event.currentTarget);
        modal.find('.back').empty();
    })
  	</script>
	</body>
</html>
