<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ybigh demo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="libs/boostrap4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<style>

			body{
				/*background-color: #b54d4d;*/
        		margin: 0px;
        		height: 100%;
			}

		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <% var dt = data.length; %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu" class="navbar-nav">
                <% for(var i=0; i<dt; i++) { %>
                    <li class="nav-item">
                        <a class="nav-link" href='/<%= data[i].link %>'>
                              <%= data[i].name %>
                          </a>
                    </li>
              <% } %>
          </ul>
      </div>
  </nav>
		<div id="welcome">

			<h4>*ABOUT STAGE 1</h4>
			Each or any of the <i>Terms, Concept or Specific Objects</i> [words] presented in Stage 1 may invoke personal feelings, spark a particular philosophical interest, connect with you on spiritual level, all three or none at all. Based on your understanding of the words, it’s up to you to reflect on your life’s experience and make selections using our custom graphic interface. (Don't feel you have to select every category for every word)<a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="UI Example"> See Example</a>
			<br /><br />
			<img src="img/s1Img.jpg" style="float:left; margin:0 20px 15px 0;"/>
			<div>
				<strong>Select up to four categories for any given word</strong><br />
				<ul class="about">
					<li>Man's View of Himself (Himself/Herself)</li>
					<li>Man's Connections with Other than Himself</li>
					<li>Man's View of the World</li>
					<li>Man's Physical Activities</li>
				</ul>
				<strong>The word "Man" means the <i>universal man</i> of which you are an example. <br />As such, you may consider:</strong><br />
            	<ul class="about">
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Personalize">Personalizing some or all words to yourself</a></li>
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Others Exclusively">Thinking of others exclusively</a></li>
					<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Yourself and Others">Thinking of yourself and others together</a></li>
            	</ul>
			<strong><a style="font-weight:700;color:black;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Opinion">Opinion/Evaluation</a></strong>
			<ul class="about">
        <li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Foundation">Foundation</a> -- Existence/Essence | Substance | Accident</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Spiritual">Spiritual</a> -- Not composed of parts | will not deteriorate</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material">Material</a> -- Composed of parts | can deteriorate</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material Spiritual Converging">Material & Spiritual Converging</a> -- unifying so to become more than the individual parts.</li>
				<!--Hypothetical 4: You eat <strong>bread</strong> all the time but never gave it much thought. One day you read how the invention of <strong>bread</strong> was quintessential in man's ability to thrive today.-->
			</ul>
			
			</div><br />
			
			<div id="howto-msg">Like anything else, using Ybigh will make you better at using Ybigh. While it may feel awkward at first, you'll get the hang of it. Continue on to<a href="https://ybigh.herokuapp.com/n-stage1"> Stage 1</a></div>
		 	
		</div>

  	<!-- definitions Modal -->
  <div class="modal fade" id="definition" role="dialog">
    <div class="modal-dialog modal-lg"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">

          
        </div>
        <div class="modal-footer">
          <div class="back"></div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <script type="text/javascript">
          function spiritual(p){ 
            var html;
            if(p === "other"){
                html = "<a style=\"font-weight:700;\" onclick=\"spiritual('Spiritual')\" href=\"#\">Back</a>";
            }else{
                html = "<a style=\"font-weight:700;\" onclick=\"spiritual('Material_Spiritual_Converging')\" href=\"#\">Back</a>";
            }
              var gcontent = content[p];
              var title = p.replace(/_/g, " ");
              var modal = $("#definition");
              modal.find('.modal-title').text(title);
              modal.find('.back').empty();
              $('.modal-body').empty();
              modal.find('.modal-body').append(gcontent);
              if(p === "Glove_Converging" || p === "Chessplayer_Converging"){
                  modal.find('.back').append(html);
              }
            }
          </script>
    </div>
  </div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script type="text/javascript" src="libs/boostrap4/js/bootstrap.min.js"></script>

  	<script type="text/javascript">

  	let content = {
  		Material_Spiritual_Converging: "A word given in Ybigh could be part of a terrible, a wonderful or any experience in between, for you or others. This experience lets the word take on special meaning, and is in the state of material/spiritual converging. Converging means a unity is forming with the word and its connections that turns it into a symbol. The unity (and newly-created symbol) consists in your knowledge of the word and your experiences with it.<br /><br />"+
        "To discover your past spiritual-material convergences, use the words in Ybigh to help jog your memory of past experiences. "+
        "While some words will remind you of experiences, some experiences will also remind you of words in Ybigh. Admittedly, the words in Ybigh are pretty general so it may take a little practice before you\'re effortlessly able to connect them together. Soon this will be second nature though.<br /><br />"+
        "Once words from the list are identified, Ybigh gives you the opportunity to weigh the magnitude of the experience in relation to the words. <br /><br />An experience can be nothing short of a global phenomenon. For instance, you may have selected the word <a style=\"font-weight:700;\" href=\"#\" onclick=\"spiritual('Glove_Converging')\" data-target=\"#definition\"<strong>Glove</strong></a> because it reminded you of the OJ Simpson trial? Or they could be very personal. Like the time Led Zeppelin\'s <strong>Music</strong> helped you finish your math homework? If you\’re an <strong>Athlete</strong>, perhaps a game comes to mind where you were <i>in the zone</i> and easily able to out-perform everyone on the field. Maybe you\'re a <a style=\"font-weight:700;\" href=\"#\" onclick=\"spiritual('Chessplayer_Converging')\" data-target=\"#definition\"<strong>Chessplayer</strong></a> and during a particular match, could somehow see every move in advance thereby beating your opponent with ease.<br /><br />How you decide to weigh individual experiences is up to you. Some experiences, like the OJ trial perhaps, may not even be your own. But it still affected you and, by extension, can imagine how it affected others. Feel free to explore any and all experiences related to you or others.<br /><br />"+
        "Let it be known that these are examples of how spiritual and material parts of both <i>People</i> and <i>Things</i> can converge--<i>Things</i> like <a style=\"font-weight:700;\" href=\"#\" onclick=\"spiritual('Glove_Converging')\" data-target=\"#definition\"<strong>Glove</strong></a> and <strong>Music</strong> or <i>People</i> like <strong>Athlete</strong> and <a style=\"font-weight:700;\" href=\"#\" onclick=\"spiritual('Chessplayer_Converging')\" data-target=\"#definition\"<strong>Chessplayer</strong></a>. For more on spiritual-material converging, click here.<br /><br />",
  		Spiritual: "Spiritual substance means it has no parts and cannot be separated into parts – it\’s unitary. It can\’t be sensed or detected, but it can be thought of.<br /><strong>Reason</strong>, <strong>Happiness</strong>, <strong>Justice</strong>, <strong>Will</strong>, <strong>Evil</strong> are examples of spiritual things.<br /><br />Consider <strong>Justice</strong> in itself. Not acts or circumstances that are just or lack justice, only the abstract notion of Justice. You can't break off a piece of Justice and make it stand on its own, though you may apply it or remove it from some things to make them just or unjust.<br /><br /><strong>NOTE:</strong> Even though spiritual things can be reasoned about, it\'s often very hard to do so. Don't get too hung up wondering if a word is spiritual or not. You can always go back or update your evaluations later if you change your mind.",
        Material: "Material substance is defined as something that has or can be <strong>composed of parts</strong>, each of which is different from the other. Material things can therefore degrade or be perfected. Cars rust, toys break, children are born, grow up, grow old, and so on.<br /><br /><strong>Bacteria</strong>, <strong>baseballs</strong> and <strong>boomerangs</strong> are material things -- they’re all around us.",
        Foundation: "To begin to explain how this works, we’ll start with the idea that everything has a foundation. The foundation is the <strong>existence</strong> and <strong>essence</strong> of everything -- its being. <br /><br />Next comes the question, what sort of being is it?  If it\’s a <strong>substance</strong> of some sort, it is either a spiritual or material substance or it’s a combination of the two. It could also be a modification of the substance, and that\’s called an <strong>\‘accident\’</strong>. <br /><strong>Accident</strong> can be the quality of something--color, shape, form, etc.",
        Opinion: "While we may not acknowledge it or even realize it, things have layers of meaning; deep meaning in many cases. And by presenting you with an opportunity to express how you feel about these things, will hopefully uncover these dormant layers of meaning within you. <i>You’re more than what your shopping cart says about you</i>.",
        UI_Example: "<img src='img/s1Img1.jpg' style='margin:10px;'/>",
        Personalize: "For a given word, mentally substitute <strong>My</strong> for <strong>Man</strong> when consideing yourself only.<br /><br /><ul>Example<br /><li><strong>My</strong> View of Myself</li>"+
                     "<li><strong>My</strong> Connections with Other than myself (whether humans or things)</li>"+
                     "<li><strong>My</strong> View of the World</li>"+
                     "<li><strong>My</strong> Physical Activities</li>"+
                     "</ul>",
        Others_Exclusively: "For a given word, mentally substitute <strong>Their, His/Her</strong> for <strong>Man</strong> when considering other people (individuals, other groups, or everyone else) but not yourself.<br /><br /><ul>Example<br /><li><strong>Their</strong> View of Themselves</li>"+
                     "<li><strong>Their</strong> Connections with Other than themselves (whether humans or things)</li>"+
                     "<li><strong>Their</strong> View of the World</li>"+
                     "<li><strong>Their</strong> Physical Activities</li>"+
                     "</ul>",
        Yourself_and_Others: "For a given word, mentally substitute <strong>Our</strong> for <strong>Man</strong> when considering all of mankind or a group (gender, ethnic, etc) you belong to.<br /><br /><ul>Example<br /><li><strong>Our</strong> View of Ourselvse</li>"+
                     "<li><strong>Our</strong> Connections with Other than ourselves (whether humans or things)</li>"+
                     "<li><strong>Our</strong> View of the World</li>"+
                     "<li><strong>Our</strong> Physical Activities</li>"+
                     "</ul>",
        Glove_Converging:"Let\'s break down a possible scenario using a hypothetical example. <br />."+
          "<ol>make an association between the material object <strong>Glove</strong> and the OJ trial"+
          "<li>Considering the different categories, you decide on:<i> Man's View of the World</i></strong> and <i>Man's View of Himself</i></li>"+
            "<li><i>For Man's View of Himself</i>, I'm thinking of OJ himself and the fact that he knew how important the glove evidence was to his legal case.</strong></li>"+
            "<li><i>For Man's View of the World</i>, I'm remembering how polerized the world was when the glove ultimately didn't fit his hand during a trial.</strong></li>"+
            "<li>Lastly, I make selections towards converging in the triangles</li>"+
            "</ol>"+
            "Once <strong>Glove</strong> becomes a symbol, you'll get the opportunity to add more information in stage's II and III.",
        Chessplayer_Converging:"A <strong>Chessplayer</strong> is a person. Any living, spiritual being that possesses <strong>intellect</strong> and <strong>will</strong> is what we call a \'person\' and has what we call 'personality'. <strong>Personality</strong> is composed of spiritual parts (<strong>will</strong> and <strong>intellect</strong>) as well as material parts, such as our <strong>5 senses</strong>. The fact that people can do both spiritual and material operations, "+"shows that people our \'spiritual-material converging\'. Some people converge more and some less. <br /><br />The categories I might select recalling my amazing chess match are: <i>Man's View of Himself</i> and <i>Man's Connection with other than Himself</i>.<br /><br />Why?<br /><br />In this scenario, I'm not only considering my awesome chess match but how I now view myself in connection with the greater chess community. Thinking about myself exclusively, and if it were a highly publicized match, I might also include the world as well. The only thing left to do is to decide on the magnitude of the convergance for each category.<br /><br />Once <strong>Chessplayer</strong>(or maybe the word will be gamer) becomes a symbol, you'll get the opportunity to add more information in stage's II and III." 
  	}
  		$('#definition').on('show.bs.modal', function (event) {
  			var button = $(event.relatedTarget); // Button that triggered the modal
  			var recipient = button.data('whatever'); // Extract info from data-* attributes
  			var key = recipient.replace(/ /g, "_");
  			var gcontent = content[key];
  			var modal = $(this);
  			modal.find('.modal-title').text(recipient);
  			$('.modal-body').empty();
  			modal.find('.modal-body').append(gcontent);
		})
    $('#definition').on('hidden.bs.modal', function (event) {
        var modal = $(event.currentTarget);
        modal.find('.back').empty();
    })
  	</script>
	</body>
</html>
