<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ybigh demo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="libs/boostrap4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<style>

			body{
				/*background-color: #b54d4d;*/
        		margin: 0px;
        		height: 100%;
			}
      .steps-container{
        margin: 100px auto 0 auto;

      }
      ol.steps li{
        float: left;
        margin: 0 0 0 100px;
        list-style-type: none;
      }
      li .container{
        position: relative;
      }
      li .step{
        width: 280px;
        height: 280px;
        border-radius: 60%;
        color: #000;
        line-height: 25px;
        text-align: center;
        border: 3px solid #dab1b1;
        font-size: 20px;
      }
      li .bgtext{
        position: absolute;
        top: 126px;
        left: 58px;
        bottom: 0;
        right: 0px;
        z-index: -1;
        /* overflow: hidden; */
        font-size: 352px;
        color: #f5ebdc;
      }
      ul.about{
        list-style-type: none;
      }
      .text{
        padding-top: 80px;
      }
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <% var dt = data.length; %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu" class="navbar-nav">
                <% for(var i=0; i<dt; i++) { %>
                    <li class="nav-item">
                        <a class="nav-link" href='/<%= data[i].link %>'>
                              <%= data[i].name %>
                          </a>
                    </li>
              <% } %>
          </ul>
      </div>
  </nav>
		<div id="welcome">
      <h2 style="text-align:center;">STAGE 1: CREATING INITIAL SYMBOLS</h2>
      <div class="steps-container">
      <ol class="steps">
        <li>
          <div class="container">
              <div class="bgtext">1</div>
            </div>
          <div class="step">
          <div class="text">Scroll through the list of words and choose a word<br />(See <a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="About Words">About Words</a>)
          </div>
        </div>
        </li>
          <li>
            <div class="container">
              <div class="bgtext">2</div>
            </div>
            <div class="step">
            <div class="text">Look over the categories and decide which category, or categories, best fit your word.<br />(See <a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Categories">Categories</a>)
            </div>
          </div>
        </li>
        <li>
          <div class="container">
              <div class="bgtext">3</div>
            </div>
          <div class="step">
          <div class="text">Click and drag your mouse inside the triangles to make evaluations. <br />(See <a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Triangle Selection Space">Triangle Selection Space</a>)
          </div>
        </div>
        </li>
      </ol>
    </div>

  	<!-- definitions Modal -->
  <div class="modal fade" id="definition" role="dialog">
    <div class="modal-dialog modal-lg"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">

          
        </div>
        <div class="modal-footer">
          <div class="back"></div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <script type="text/javascript">
          function spiritual(p){ 
            var html;
             console.log(p)
            if(p === "Personalize" || 
               p === "Others_Exclusively" || 
               p === "Yourself_and_Others"){
                html = "<a style=\"font-weight:700;\" onclick=\"spiritual('Categories')\" href=\"#\">Back</a>";
            }else if(p === "Person"){
                html = "<a style=\"font-weight:700;\" onclick=\"spiritual('Material_Spiritual_Converging')\" href=\"#\">Back</a>";
            }else{
                html = "<a style=\"font-weight:700;\" onclick=\"spiritual('Triangle_Selection_Space')\" href=\"#\">Back</a>";
            }
            
          
              var gcontent = content[p];
              var title = p.replace(/_/g, " ");
              var modal = $("#definition");
              modal.find('.modal-title').text(title);
              modal.find('.back').empty();
              $('.modal-body').empty();
              modal.find('.modal-body').append(gcontent);

              if(p === "Person" || 
                 p === "Material_Spiritual_Converging" || 
                 p === "Material" ||
                 p === "Spiritual" ||
                 p === "Others_Exclusively" ||
                 p === "Personalize" ||
                 p === "Yourself_and_Others"){
                  modal.find('.back').append(html);
              }
            }
          </script>
    </div>
  </div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script type="text/javascript" src="libs/boostrap4/js/bootstrap.min.js"></script>

  	<script type="text/javascript">

  	let content = {
  		Material_Spiritual_Converging: "Once you select a word, Stage 1 gives you a chance to weigh your experiences with relation to the word in each of the four categories.<br /><br />You might feel that a word represents just a material reality; in that case you would evaluate it as '<i>purely material</i>' or somewhere in that area of the triangle, based on how certain you are.  You might feel a word represents something spiritual, so you should evaluate it as '<i>purely spiritual</i>' or, again, somewhere in that area.<br /><br /><strong>1)</strong> When you evaluate a word in Stage 1, you give it meaning and make it into what Ybigh treats as a <i>symbol</i>.<br /><br /><strong>2)</strong> A symbol can sometimes be part of a terrible or a wonderful experience, or anywhere in between, for you or others. This experience lets you give the symbol special meaning, what we of Ybigh call '<i>material/spiritual converging</i>'.<br /><br /><strong>3)</strong><i> Converging</i> means a unity is forming with the word and its connections. '<i>Material/spiritual converging</i>' means that your knowledge of the word and your experience with it have unified into this special kind of symbol.<br /><br /><i>Knowledge</i> starts with the material world (your five senses). Human consciousness, including your awareness and experience, has spiritual components. Most things have a material as well as a spiritual component. How much of each? You should decide.<br /><br /><strong>Material/Spiritual Converging Examples</strong> (It's not as complicated as it sounds)<br /><br /><strong>Music/Musician</strong><br />Music can be '<i>material/spiritual converging</i>'. We can have great insight or profound feelings when listening to--or if you can--performing music.<br /><br /><strong>Urine</strong><br />Urine can be ‘material/spiritual converging’. You were stranded out at sea or in a desert and all you had to drink was your own urine.  It saved your life.  Now ‘<i>urine</i>’ has a special meaning for you.<br /><br /><strong>Knife</strong><br />If you get cut with a knife then a knives might leave a lasting impression on you, having marked your experience as well as your material body.<br /><br /><strong>Athlete</strong><br />You might recognize '<i>material/spiritual converging</i>' in yourself or in other people as well. Watching a professional basketball game, you notice how one player is truly in the zone, out-scoring and out-performing every other player on the court. (See <a style=\"font-weight:700;\" href=\"#\" onclick=\"spiritual('Person')\" data-target=\"#definition\">Person</a>)<br /><br />Material/spiritual converging can readily apply to almost everything.  How you decide to evaluate ideas, terms or specific, material objects, using your knowledge, awareness and experiences, is up to you.",
  		Spiritual: "Spiritual means it has no parts and cannot be separated into parts – it\’s unitary. It can\’t be sensed or detected, but it can be thought of.<br />Spiritual Examples: <strong>Reason</strong>, <strong>Happiness</strong>, <strong>Justice</strong>, <strong>Will</strong>, <strong>Evil</strong>, <strong>Design</strong>.<br /><br />Consider <strong>Justice</strong> in itself. Not acts or circumstances that are just or lack justice, only the abstract notion of Justice. You can't break off a piece of Justice and make it stand on its own, though you may apply it or remove it from some things to make them just or unjust.<br /><br /><strong>NOTE:</strong> Even though spiritual things can be reasoned about, it\'s often very hard to do so. Don't get too hung up wondering if a word is spiritual or what is spiritual about a word. You can always go back or update your evaluations later if you change your mind.",
        Material: "Material is defined as something that has or can be <strong>composed of parts</strong>, each of which is different from the other. Material things can therefore degrade or be perfected. Cars rust, toys break, children are born, grow up, grow old, and so on.<br /><br /><strong>Bacteria</strong>, <strong>baseballs</strong> and <strong>boomerangs</strong> are material things -- they’re all around us.",
        Triangle_Selection_Space: "<div class=\"triangle\"><a class=\"abouts\" href=\"#\" data-target=\"#definition\" onclick=\"spiritual('Spiritual')\">Purely Spiritual</a> <a class=\"aboutm\" href=\"#\" data-target=\"#definition\" onclick=\"spiritual('Material')\">Purely Material</a><a class=\"aboutms\" href=\"#\" data-target=\"#definition\" onclick=\"spiritual('Material_Spiritual_Converging')\">Material/Spiritual Converging</a> <img style='padding-left:37px;' src=\"img/s1Img.jpg\" /></div>",
        Categories: "<img src='img/reminder.jpg' style='float:left;margin-right: 25px;'/><div><strong>Select up to four categories for any given word</strong><br /><br /><ul class=\"about\"><li>Man's View of Himself (Himself/Herself)</li><li>Man's Connections with Other than Himself</li><li>Man's View of the World</li><li>Man's Physical Activities</li></ul><strong>The word \"Man\" means the <i>universal man</i> of which you are an example. <br />As such, you may consider:</strong><br /><br /><ul class=\"about\"><li><a style=\"font-weight:700;\" href=\"#\" data-target=\"#definition\" onclick=\"spiritual('Personalize')\">Personalizing some or all words to yourself</a></li><li><a style=\"font-weight:700;\" href=\"#\" data-target=\"#definition\" onclick=\"spiritual('Others_Exclusively')\">Thinking of others exclusively</a></li><li><a style=\"font-weight:700;\" href=\"#\" data-target=\"#definition\" onclick=\"spiritual('Yourself_and_Others')\">Thinking of yourself and others together</a></li></div></ul>",
        About_Words: "Each or any of the <i>Terms, Concept or Specific Objects</i> [words] presented in Stage 1 may invoke personal feelings, spark a particular interest (philisophical), connect with you on spiritual level, all three or none at all. Based on your understanding of the words, it’s up to you to reflect on your life’s experience and make selections using our custom graphic interface.",
        Personalize: "For a given word, mentally substitute <strong>My</strong> for <strong>Man</strong> when consideing yourself only.<br /><br /><ul>Example<br /><li><strong>My</strong> View of Myself</li>"+
                     "<li><strong>My</strong> Connections with Other than myself (whether humans or things)</li>"+
                     "<li><strong>My</strong> View of the World</li>"+
                     "<li><strong>My</strong> Physical Activities</li>"+
                     "</ul>",
        Others_Exclusively: "For a given word, mentally substitute <strong>Their, His/Her</strong> for <strong>Man</strong> when considering other people (individuals, other groups, or everyone else) but not yourself.<br /><br /><ul>Example<br /><li><strong>Their</strong> View of Themselves</li>"+
                     "<li><strong>Their</strong> Connections with Other than themselves (whether humans or things)</li>"+
                     "<li><strong>Their</strong> View of the World</li>"+
                     "<li><strong>Their</strong> Physical Activities</li>"+
                     "</ul>",
        Yourself_and_Others: "For a given word, mentally substitute <strong>Our</strong> for <strong>Man</strong> when considering all of mankind or a group (gender, ethnic, etc) you belong to.<br /><br /><ul>Example<br /><li><strong>Our</strong> View of Ourselvse</li>"+
                     "<li><strong>Our</strong> Connections with Other than ourselves (whether humans or things)</li>"+
                     "<li><strong>Our</strong> View of the World</li>"+
                     "<li><strong>Our</strong> Physical Activities</li>"+
                     "</ul>",
        Person:"Personality is an example of '<i>material/spiritual converging</i>'. Any living, spiritual being that possesses intellect and will is what we call a 'person' and has what we call 'personality'. Personality is composed of spiritual parts (will and intellect) and material parts, such as our five senses. The fact that people can do both spiritual and material operations shows that people are '<i>material/spiritual converging</i>'.<br /><br /> <strong>Athletes</strong> and <strong>musicians</strong> performing exceptionally are examples of people '<i>material/spiritual converging</i>'. See descriptions on the <a style=\"font-weight:700;\" onclick=\"spiritual('Material_Spiritual_Converging')\" href=\"#\">previous page</a>."
  	}
  		$('#definition').on('show.bs.modal', function (event) {
  			var button = $(event.relatedTarget); // Button that triggered the modal
  			var recipient = button.data('whatever'); // Extract info from data-* attributes
  			var key = recipient.replace(/ /g, "_");
  			var gcontent = content[key];
  			var modal = $(this);
  			modal.find('.modal-title').text(recipient);
  			$('.modal-body').empty();
  			modal.find('.modal-body').append(gcontent);
		})
    $('#definition').on('hidden.bs.modal', function (event) {
        var modal = $(event.currentTarget);
        modal.find('.back').empty();
    })
  	</script>
	</body>
</html>
