<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ybigh demo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="libs/boostrap4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<style>

			body{
				/*background-color: #b54d4d;*/
        		margin: 0px;
        		height: 100%;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <% var dt = data.length; %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu" class="navbar-nav">
                <% for(var i=0; i<dt; i++) { %>
                    <li class="nav-item">
                        <a class="nav-link" href='/<%= data[i].link %>'>
                              <%= data[i].name %>
                          </a>
                    </li>
              <% } %>
          </ul>
      </div>
  </nav>
		<div id="welcome">

			<h4>*STAGE 1</h4>
			Each or any of the <i>Terms, Concept or Specific Objects</i>[words] presented in Stage 1 may invoke personal feelings, spark a particular philosophical interest, connect with you on spiritual level, all three or none at all. Based on your understanding of the words, it’s up to you to reflect on your life’s experience and select the category, or categories, you feel best fit it.<br /><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="UI Example">UI Example</a>
			<br /><br />
			<img src="img/s1Img.jpg" style="float:left; margin:0 20px 15px 0;"/>
			<div>
				<strong>The four categories</strong><br />
				<ul class="about">
					<li>Man's View of Himself (Himself/Herself)</li>
					<li>Man's Connections with Other than Himself</li>
					<li>Man's View of the World</li>
					<li>Man's Physical Activities</li>
				</ul>
				<strong>The word "Man" simply means the <i>universal man</i> of which you are an example. <br />As such, you may:</strong><br />
            	<ul class="about">
					<li>Personalize any or all words to yourself</li>
					<li>Think of others exclusively</li>
					<li>Think of yourself and others together</li>
            	</ul>
				<strong>Trapezoid selection space</strong><br />
			<ul class="about">
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Spiritual">Spiritual</a> -- incorruptible, intangible, genuine, and essential</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material">Material</a> -- composed of parts, occupies physical space, can be degraded</li>
				<li><a style="font-weight:700;" href="#" data-toggle="modal" data-target="#definition" data-whatever="Material Spiritual Converging">Spiritual & Material Converging</a> -- Unification where, together, they're more than their parts are seperately.</li><br /><br /><strong>Spiritual & Material Converging examples</strong>:<br />Hypothetical 1: Someone you know was stranded out at sea and all they had to drink was their own Urin. It saves their life. Niether of you may ever think about Urin the same way again.<br /> 
				Hypothetical 2: An out-of-control truck kills 5 people on the sidewalk your walking. Suddenly, trucks aren't just for transporting cargo anymore.
				
			</ul>
			<!-- is like steal reinforcing concrete. The steal gives flexibility to the concrete, and the concrete gives strength to the steal, together it's more than either of the parts. In this way,-->
			</div><br />
			
			<div id="howto-msg">Continue on to<a href="https://ybigh.herokuapp.com/stage1"> Stage 1</a></div>
		 	
		</div>

  	<!-- definitions Modal -->
  <div class="modal fade" id="definition" role="dialog">
    <div class="modal-dialog"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script type="text/javascript" src="libs/boostrap4/js/bootstrap.min.js"></script>

  	<script type="text/javascript">

  	let content = {
  		Material_Spiritual_Converging: "The spiritual adds depth to the material object while the "+ "material object gives strength to the spiritual by being the physical embodiment.<br /> Like steal reinforcing "+ "concrete. The steal gives flexibility and the concrete gives strength where, together, "+ "it's more than either of the parts are when seperate.<br /><br /><strong>further considerations ...</strong><br /><br /> A material object can have "+ "spiritual characteristics. Think of a car. A car has a spiritual essense that must exist as a whole. And if you remove any of it, it ceases to be a car."+" If you remove two of the wheels of a car, it ceases to be a "+ "car anymore. It's still a motor vehicle perhaps, but not a car. Not just physically removing"+" the wheels, but removing them in such a way that creates a new, functioning vehicle that can opperate with only two"+ " wheels like, say, a motorcycle. In this way, we can say four wheels is fundemental to a thing being a "+ "car.<br /><br />If you like: the spirit of the car is that it has four wheels.",
  		Spiritual: "<ul>"+
          	"<li><strong>incurruptable</strong>: behaves in a manner that's fundemental -- like a snake, or a lion -- and that needs no justification</li>"+
          	"<li><strong>intangible</strong>: can't be held or touched. Has no physical presence</li>"+
          	"<li><strong>genuin</strong>: corroborates with what the mind knows it should be and what the thing actually is</li>"+ 
          	"<li><strong>essential</strong>: unified in a way where removing even one part makes it cease to exist</li>"+
           "</ul>",
        Material: "<ul>"+
          	"<li><strong>composed of parts</strong>: remove any or all of its parts and it still exists, albeit in pieces</li>"+
          	"<li><strong>occupies physical space</strong>: has form and exists in space and time</li>"+
          	"<li><strong>degradable</strong>: can be ruined or destroyed by a person or over time</li>"+
           "</ul>",
        UI_Example: "<img src='img/s1Img1.jpg' style='margin:10px;'/>"

  	}
  		$('#definition').on('show.bs.modal', function (event) {
  			var button = $(event.relatedTarget); // Button that triggered the modal
  			var recipient = button.data('whatever'); // Extract info from data-* attributes
  			var key = recipient.replace(/ /g, "_");
  			var gcontent = content[key];
  			var modal = $(this);
  			modal.find('.modal-title').text(recipient);
  			$('.modal-body').empty();
  			modal.find('.modal-body').append(gcontent);
		})

  	</script>
	</body>
</html>
