<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ybigh demo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="libs/boostrap4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<style>

			body{
				/*background-color: #b54d4d;*/
        		margin: 0px;
        		height: 100%;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <% var dt = data.length; %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu" class="navbar-nav">
                <% for(var i=0; i<dt; i++) { %>
                    <li class="nav-item">
                        <a class="nav-link" href='/<%= data[i].link %>'>
                              <%= data[i].name %>
                          </a>
                    </li>
              <% } %>
          </ul>
      </div>
  </nav>
		<div id="welcome">

			<h4>*STAGE 1: CATEGORIES, TERMS, CONCEPTS AND SPECIFIC OBJECTS*</h4>
		 	<br />

			Each or any of the <i>terms, concept or specific objects</i> may invoke personal feelings, spark a particular philosophical interest, connect with you on spiritual level, all three or none at all. Based on your understanding of the term [word] chosen, it’s up to you to reflect on your life’s experience and select the category, or categories, you feel best fit it.
			<br /><br />
			<ul class="about">
				<li>Click and drag closer to the dark corner suggests a higher degree of spirituality (has substance but is unrelatable or not understandable)</li>
				<li>Click and drag towards the base color suggests something more material (concrete, relatable and understandable)</li>
				<li>Click and drag towards pure white and spiritual & material converge taking on characteristics of both and attaining parity at the vertex.</li>
			</ul>
			* Consider the entire trapezoid (or trapezoids) area to be as specific as possible when selecting
			<br /><br />
			<img src="img/s1Img.jpg" style="float:left; margin:0 20px 15px 0;"/>
			<div>
				<strong>Select up to 4 categories for any given <i>term, concept or specific object</i>:</strong><br /><br />
				<ul class="about">
					<li>Man's View of Himself/Herself (abbreviated to 'Himself')</li>
					<li>Man's Connections with Other than Himself</li>
					<li>Man's View of the World</li>
					<li>Man's Physical Activities</li>
				</ul>
				The word "Man" simply means the <i>universal man</i> of which you are an example. As such, you may:<br /><br />
            	<ul class="about">
					<li>Personalize any or all <i>terms, concepts or specific objects</i> to yourself</li>
					<li>Think of others exclusively</li>
					<li>Think of yourself and others together</li>
            	</ul>
			</div>
			
		</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script type="text/javascript" src="libs/boostrap4/js/bootstrap.min.js"></script>
	</body>
</html>
